@import url('https://rsms.me/inter/inter.css');
* { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
    * { font-family: 'Inter var', sans-serif; }
}

document, html, body {
    overflow-x: hidden;
}
/** {*/
/*    font-family: "Inter UI", sans-serif;*/
/*    font-weight: 400;*/
/*}*/